@media all and (min-width:950px){
    .header{
        background:url('../images/201704/april_cover_pc_wide.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media(max-width:950px){
    .header{
        background:url('../images/201704/april_cover_pc_wide.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media(max-width:450px){
    .header{
        background:url('../images/201704/april_cover_mobile_nologo.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}



.header li > a{
    color:black !important;
}

.sub-title{
    color:#ffffff;
}

#words-section{
    background-image:url('../images/201704/office-336368_1280.jpg');
    background-size:cover;
}

#moim-section{
    background-image:url('../images/moim_mobile.jpg');
}

#quiz-section{
    background-color:#2e2e2e;
}

span.wp-label{
    background-color:#F9EB7E;
    color:#424242;
}

.background-white.link:hover {
    background-color: rgba(101,110,115,1);
}

.section h4{
    cursor:pointer;
}

.quiz-result{
    color:#F9EB7E;
}

#quiz-section p > a{
    color:#F9EB7E;
}

.desc-detail:hover {
    color: dimgray;
}