/* section background */
.header{
     background-image:url("../images/march_cover_pc_wide_1024.png");
}
#femi-section{
    background-image:url('../images/shs_femi.png');
}
#taxi-section{
    background-color:#000000;
    background-image:url('../images/taxi_web.jpg');
}

#moim-section{
    background-image:url('../images/moim_mobile.jpg');
}

@media all and (min-width:950px){
    .camp-card {    width:100%;height:300px;    }
    #femi-section{ background-position-x:-270px;}
    #vote-section{ height:1700px;}
    #moim-section{ background-position-x:-230px;}
}

@media(max-width:950px){
    #news-btn-area{ width:95%; }
    .camp-card{ display:block;width:100%;height:300px; }

    .detail{ float:left !important; width:400px !important;}
    .photo{float:left;}

    #femi-section{ background-position-x:-50px;}
    #vote-section{ height:1700px;}
    .camp-card { min-width:760px; }
}

@media(max-width:450px){
    #more-btn{ display:none; }
    #more-btn-small{display:block !important;}
    .news-item.last, .web-menu, .web-title, .web-block {display:none;}
    .header{ background-image:url('../images/march_cover_mobile_960.png'); }

    /*section*/
    #femi-section{ background-position-x:-270px;}
    #taxi-section{ background-image:url('../images/taxi_mobile.png') !important;}
    #vote-section{  height:3300px; }
    .camp-card { min-width:250px; height:620px; }
    .camp-card > .photo,.camp-card > .detail { display:block; }
    .camp-card > .photo { width:100% !important; background-size:cover; }
    .camp-card > .detail { width:100% !important; min-width:250px; }
    .comment { font-size:14px !important; }
    .desc { line-height: 28px; }
    .govcraft-vote-widget {
        max-width: 220px;
    }
    .detail-link.about-news {
        position: inherit;
        width: 100% !important;
        margin-top: 10px;
    }
    .detail-link.about-news .news-btn {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .not-yet-open-date{
        margin-top: 45% !important;
    }
    .social-share {
        margin-top: 0 !important;
    }
}


/* news */
.news-item{
    border-top:1px solid #dedede;
    padding:10px 2px;
    height:57px;
}

.news-item > h5{
    margin-top:0px !important;
    margin-bottom:3px !important;
    font-size:14px;
}

.news-item > h5 > a{
    color:#000000;
}

.news-item > span{
    font-size:12px;
    color: #656e73;
}

#news-btn-area{
    text-align:center;
}

.news-btn{
    background-color:#ffffff;
    border:1px solid #000000;
    color:#000000;
    font-weight:700;
    padding:13px 85px;
    margin-right:13px;
}

#more-btn-small{
    display:none;
    font-size:14px;
    color:#000000;
    line-height:50px;
    text-decoration: none;
}



/* vote-section > camp */
.camp-card {
    background-color:#ffffff;
    margin:20px 0px;
}

.camp-card > .photo {
    width:300px;
    height:300px;
    background-color:#000000;
    display:inline-block;
}

.camp-card > .detail {
    padding:10px;
    width:585px;
    display:inline;
    float:right;
}

.camp-card .comment{
    margin:10px 0px;
}

.camp-card > .detail > h2{
    font-weight:800;
    letter-spacing: -0.1em;
}

.camp-card > .detail > a{
    font-size: 16px;
    color: #000000;
    letter-spacing: -0.07em;
    line-height: 21px;
    text-decoration: underline;
}

.camp-card > .detail > a:hover{
    color: #9241cb;
    text-decoration: underline !important;
}

.camp-card .comment {
    font-size:16px;
    letter-spacing: -0.07em;
    line-height: 27px;
}

.camp-card .sns{
    margin:15px 0px;
}

.camp-card .sns > a{
    font-size: 16px;
    color: #b5b5b5;
    letter-spacing: -0.07em;
    line-height: 27px;
}

.sns > a:hover{
    cursor:pointer;
    color:#9241cb;
}

.header li > a{
    color:#ffffff !important;
}

.camp-card .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -6px;
    margin-right: 8px;
    cursor:pointer;
}

.icon-facebook-camp{
    background-image:url('../images/icon-facebook-purple-before.png');
}
.icon-facebook-camp:hover{
    background-image:url('../images/icon-facebook-purple.png');
}

.icon-twitter-camp{
    background-image:url('../images/icon-twitter-purple-before.png');
}
.icon-twitter-camp:hover{
    background-image:url('../images/icon-twitter-purple.png');
}

/* hover */
#femi-section.hover > .overlay:hover{
    background-color:rgba(255,255,255,.6);
}

#taxi-section.hover > .overlay:hover{
    background-color:rgba(0,0,0,.8) !important;
}

#vote-section.hover > .overlay:hover{
    background-color:rgba(0,0,0,.8) !important;
}

#moim-section.hover > .overlay:hover{
    background-color:rgba(0,0,0,.7) !important;
}