body{
    background-color:#000000;
}

a{
    color:#000000;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.header{
    height:112px;
    width:100%;
    padding:30px;
    background-color:#ffffff;
}

.menu{
    margin-top:-20px;
}

.header > .container > .menu > ul{
    display:inline;
    float:right;
}

.header > .container > .menu > ul > li{
    font-size:15px;
    display:inline;
    margin-right:22px;
    font-weight:600;
}

.footer{
    border-top:1px solid #333333;
    height:100px;
    background-color:#000000;
    width:100%;
}

.content{
    background-color:#000000;
    height:100%;
}

.footer{
    padding: 18px 20px !important;
    height: 88px !important;
    color:#ffffff;
}

.footer a, .zine a {
    color:#ffffff;
}

.cover{
    width:320px;
    height:500px;
    background-color: #dedede;
    padding:26px 23px;
    cursor:pointer;
}

.sub-title{
    font-family: 'Apple SD Gothic Neo';
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.0667em;
    line-height: 25px;
    font-weight:700;
    display:inline-block;
    margin:15px 0px;
    text-align:left;
}

.gubun{
    background-color:#9241cb;
    color:#ffffff;
    font-weight:600;
    line-height:30px;
    font-size:15px;
    padding:2px;
}

.list{
    letter-spacing: -0.07em;
    color:#ffffff;
    text-align:left;
}

.zine{
    display:inline-table;
    margin:59px;
    text-align: left;
}

/* mobile-menu */
.mobile-menu{display:none;}
.mobile-open-menu{
    padding-top:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background-color:rgba(0,0,0,.9);
}

.mobile-open-menu > ul > li > a{
    color:#ffffff !important;
    letter-spacing: -0.07em;
    line-height: 80px;
    font-size:30px;
    font-weight:600;

}

.mobile-open-menu > ul{
    display:inline;
    list-style-type: none;
    text-align: center;
}


.cover{
    background-size:contain;
}


/* Tablet & Desktop Device */
@media all and (min-width:768px) {
     
}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {
    .zine-section { width:900px; }
}

/* Desktop Device */
@media all and (min-width:1025px) {
    .zine-section { width:900px; }
}

/* Mobile Device */
@media all and (max-width:640px) {
    .header{ padding:0px; height:55px; }
    .header > .container { padding:15px 20px;}
    .header svg { width:100px; height:29px; }
    .container{ padding:20px; }
    .zine { margin:0px; }
    .list { margin-bottom:20px; }
    .menu { display:none; }
    .mobile-menu { display:inline-block !important; float:right; cursor:pointer; }
    .logo { display:inline-block;}
}