@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'jssocials.css';
*{
    font-family: 'Noto Sans Kr', sans-serif;
    letter-spacing: -0.0667em;
}

/* header */
.desc{
    font-size:16px;
    color:rgba(0,0,0,1);
    letter-spacing: -0.0667em;
    position: absolute;
    bottom:30px;
}
.background-white {
    background-color:#ffffff;
}
.background-white.link {
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 10px;
}
.background-white.link:last-child {
    margin-bottom: 0;
}
.background-white.link:hover {
    background-color: #9241cb;
}
.background-white.link:hover a {
    color: #fff;
}
.desc-detail {
    font-weight:bold;
    text-decoration: underline;
    cursor:pointer;
}

.sub-title{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.0667em;
    line-height: 25px;
    font-weight:700;
    display:inline-block;
}

.menu {
    float:right;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:
}

.header li{
    font-size:16px;
    display:inline;
    margin-right:22px;
    font-weight:weight;
}



a{
    color:#000000;
}

.mobile-open-menu{
    padding-top:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background-color:rgba(0,0,0,.9);
}

.mobile-open-menu > ul > li > a{
    color:#ffffff !important;
    letter-spacing: -0.07em;
    line-height: 80px;
    font-size:30px;
    font-weight:600;

}

.mobile-open-menu > ul{
    display:inline;
    list-style-type: none;
    text-align: center;
}

/* common */
.header{
    height:590px;
    position:relative;
    display:block;
    width:100%;
    background-color:#dedede;
    margin-bottom:40px;
    padding:31px 48px;
    background-image:url("../images/march_cover_pc_wide_1024.png");
    background-size:cover;
}

.section-container{
    margin:0 auto;
}
.section-container:after{
    content:"";
    clear:both;
    display:block;
}
.section{
    position:relative;
    height:500px;
    float:left;
}
.content-area{
    padding:20px;
}

.overlay{
    width:100%;
    height:100%;
}

.mobile-menu{
    cursor:pointer;
}

.camp-card {
    position: relative;
}



@media all and (min-width:1400px){
}

@media all and (min-width:950px){
    .footer{ margin-top: 38px; padding:26px 45px; }
    .section-container{ width:930px; }
    .section{  display:inline-block;  }
    .mobile-menu, .mobile-title { display:none; }
    .background-white-only-desktop { background-color: #fff; padding: 1px; }
}

@media(max-width:950px){
    .web-menu, .mobile-title {display:none;}
    .container{ padding:0px; width:100%; }
    .section-container {width:100%; }
    .section{ width:100% !important; display:block; }
    .header { margin:0px; height:500px !important; }
}

@media(max-width:450px){
    #more-btn{ display:none; }
    #more-btn-small{display:block !important;}
    .news-item.last, .web-menu, .web-title, .web-block {display:none;}
    .container{ padding:0px; }
    .logo > svg { width:200px; height:57px; }
    .header { margin:0px; height:500px !important; padding:25px; }
    .section-container{ width:100%;min-width:319px; }
    .section{ width:100% !important; min-width:319px; display:block; }
    .br{ display:block; }
    .mobile-title{display:block;}
    .sub-title {
        margin-top: 16px;
        font-size: 18px;
    }
    .footer {
        padding: 18px 20px !important;
        height: 88px !important;
    }
}

.footer{
    padding:28px 50px;
    background-color:#000000;
    width:100%;
    height: 110px;
}

.copyright{
    font-size:12px;
    letter-spacing: -0.0778em;
    color:#ffffff;
}
.copyright a {
    color:#ffffff;
    text-decoration: none;
}

/* section-pc */
.section.small{
    width:311px;
}
.section.middle{
    width:619px;
}
.section.large{
    width:930px;
    height:400px;
}




/* section inner element*/
span.wp-label{
    background-color: rgba(146, 65, 203, 1);
    padding:2px 9px;
    color:#ffffff;
    font-weight:bold;
    font-size:16px;
}

.section h4{
    font-size:20px;
    line-height:25px;
    font-weight:700;
}

.detail-link{
    position:absolute;
    bottom:18px;
    font-size:16px;
    line-height:25px;
    color: rgba(0, 0, 0, 1);
}

.detail-link span{
    text-decoration: underline;
}

.not-yet-open-date{
    margin-top: 12%;
    font-size:30px;
    text-align:center;
    color:#ffffff;
    font-weight:700;
    line-height:15px;
}

.not-yet-open-date > span{
    font-size:15px;
    letter-spacing:-0.1333em;
}

/*share*/
.jssocials-share {
    padding-right: 14px;
    margin-right: 0;
}
.jssocials-share a {
    color: #00b794;
}
.jssocials-share a:hover {
    color: #fff;
}
.jssocial-share-container {
    display: inline-block;
}
.social-share {
    margin-top: 74px;
}
.social-share .kakao-share {
    width: 11px;
    height: 20px;
    background-image:url('../images/icon-kakaostory-green.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: -11px;
    cursor: pointer;
}
.social-share .kakao-share:hover {
    background-image:url('../images/icon-kakaostory-green.png');
}

/* news */
.news-item{
    border-top:1px solid #dedede;
    padding:10px 2px;
    height:57px;
}

.news-item > h5{
    margin-top:0px !important;
    margin-bottom:3px !important;
    font-size:14px;
}

.news-item > h5 > a{
    color:#000000;
}

.news-item > span{
    font-size:12px;
    color: #656e73;
}

#news-btn-area{
    text-align:center;
}

.news-btn{
    background-color:#ffffff;
    border:1px solid #000000;
    color:#000000;
    font-weight:700;
    padding:13px 85px;
    margin-right:13px;
}

#more-btn-small{
    display:none;
    font-size:14px;
    color:#000000;
    line-height:50px;
    text-decoration: none;
}




/*hover*/
.section.hover {
}

.section.hover h4{
    text-decoration: underline;
}

.news-item > h5 > a:hover{
    text-decoration: underline;
    cursor:pointer;
}

.copyright a span:hover {
    text-decoration: underline;
}

/*responsive*/
@media all and (min-width:950px){
    #moim-section{ background-position-x:-230px;}
}

@media(max-width:950px){
}

@media(max-width:450px){
}
